In [36]:
# normalization  ----->min=0max=1
import  numpy as  np 
import  pandas  as pd  

df =  pd .read_csv("Churn_Modelling - Churn_Modelling.csv")

df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [30]:
df.isnull().sum()
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [37]:
df['Gender']=df['Gender'].map({'Male':0,'Female':1})
df['Geography'] = df['Geography'].map({'France':0,'Germany ':1,'Spain':2})

df=  df.drop(columns=['Surname'])

x = df.drop(columns=['Exited'])
y=df['Exited']


from  sklearn.model_selection import  train_test_split
x_train,x_test,y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=42)

np.round(x_train.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,5989.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,5012.51,15690665.10,651.65,0.67,0.45,38.90,5.00,76102.14,1.53,0.70,0.51,100431.29
std,2887.65,71847.43,96.37,0.94,0.50,10.52,2.88,62461.01,0.58,0.46,0.50,57518.92
min,2.00,15565701.00,350.00,0.00,0.00,18.00,0.00,0.00,1.00,0.00,0.00,90.07
25%,2512.75,15628215.50,585.00,0.00,0.00,32.00,3.00,0.00,1.00,0.00,0.00,51364.12
50%,5014.50,15690738.00,653.00,0.00,0.00,37.00,5.00,96447.52,1.00,1.00,1.00,100487.72
75%,7505.25,15753164.25,719.00,2.00,1.00,44.00,7.00,127611.33,2.00,1.00,1.00,149595.84
max,10000.00,15815660.00,850.00,2.00,1.00,92.00,10.00,250898.09,4.00,1.00,1.00,199970.74

In [41]:
# apply normalization
from  sklearn.preprocessing import MinMaxScaler
mc=MinMaxScaler()
x_train_mc=mc.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_mc,columns=x_train.columns)
np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,5989.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.60,0.33,0.45,0.28,0.50,0.30,0.18,0.70,0.51,0.50
std,0.29,0.29,0.19,0.47,0.50,0.14,0.29,0.25,0.19,0.46,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.47,0.00,0.00,0.19,0.30,0.00,0.00,0.00,0.00,0.26
50%,0.50,0.50,0.61,0.00,0.00,0.26,0.50,0.38,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.74,1.00,1.00,0.35,0.70,0.51,0.33,1.00,1.00,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [42]:
import pandas  as pd  
import numpy as  np 

df  =  pd.read_csv('toyota - toyota.csv')
df.isnull().sum()
df['transmission'].value_counts()
df=df.drop(columns=['model'])
df['fuelType']=df['fuelType'].map({'Petrol':0,'Hybrid':1,'Diesel':2,'Other':3})
df['transmission']=df['transmission'].map({'Manual':0,'Automatic':1,'Semi-Auto':2,'Other':3})


x  =  df.drop(columns=['price'])
y  = df['price']

from sklearn.model_selection  import  train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.2,random_state=42)

from  sklearn.preprocessing import MinMaxScaler
mt=  MinMaxScaler()
x_train_mt = mt.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_mt,columns=x_train.columns)

np.round(x_train_new.describe(),2)

          year  transmission  mileage  fuelType      tax      mpg  engineSize
count  5390.00       5390.00  5390.00   5390.00  5390.00  5390.00     5390.00
mean      0.85          0.15     0.13      0.17     0.17     0.26        0.33
std       0.10          0.19     0.11      0.23     0.13     0.07        0.10
min       0.00          0.00     0.00      0.00     0.00     0.00        0.00
25%       0.82          0.00     0.05      0.00     0.00     0.23        0.22
50%       0.86          0.00     0.11      0.00     0.24     0.26        0.33
75%       0.91          0.33     0.18      0.33     0.26     0.29        0.40
max       1.00          1.00     1.00      1.00     1.00     1.00        1.00