In [1]:
# labelEncoder:-

import numpy as  np 
import pandas  as  pd 

df  =  pd.read_csv('toyota - toyota.csv')
df.head(3)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2  GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0

In [9]:
# df['model'].value_counts()
# df.isnull().sum()

In [20]:
x = df.drop(columns=['price'])
y=df['price']
# x['fuelType'].value_counts()

fuelType
Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: count, dtype: int64

In [22]:
from  sklearn.preprocessing import LabelEncoder
lb =  LabelEncoder()

x['model'] = lb.fit_transform(x['model'] )

x['transmission'] = lb.fit_transform(x['transmission'])
x['fuelType'] = lb.fit_transform(x['fuelType'])
# x['fuelType'].value_counts()

In [13]:
# x.head(3)

   model  year  transmission  mileage  fuelType  tax   mpg  engineSize
0      6  2016             1    24089         3  265  36.2         2.0
1      6  2017             1    18615         3  145  36.2         2.0
2      6  2015             1    27469         3  265  36.2         2.0

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=  train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
from sklearn.preprocessing import StandardScaler
sc =  StandardScaler()

x_train_sc = sc.fit_transform(x_train)
x_train_new =  pd.DataFrame(x_train_sc,columns = x_train.columns)
np.round(x_train_new.describe(),2)

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
count,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00
mean,0.00,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.17,-8.58,-1.03,-1.19,-1.99,-1.28,-3.74,-3.36
25%,-0.88,-0.34,-1.03,-0.70,-1.07,-1.28,-0.48,-1.07
50%,-0.45,0.12,0.49,-0.23,0.77,0.55,-0.02,0.07
75%,1.28,0.57,0.49,0.43,0.77,0.68,0.36,0.76
max,1.28,1.49,3.54,7.94,0.77,6.36,10.64,6.94

In [35]:
import  numpy as np  
import  pandas  as  pd  

df  =  pd.read_csv('covid_toy - covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [37]:
df.isnull().sum()
df['fever']=df['fever'].fillna(df['fever'].mean())
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [38]:
x =  df.drop(columns=('has_covid'))
y=df['has_covid']

In [39]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

x['gender']= lb.fit_transform(x['gender'])
x['cough'] = lb.fit_transform(x['cough'])
x['city'] =  lb.fit_transform(x['city'])

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [42]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train_sc =  sc.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [14]:
import  pandas  as pd  
import  numpy  as  np 

df =  pd.read_csv('tips - tips.csv')
df.head(3)

x = df.drop(columns=['total_bill'])
y=df['total_bill']

from  sklearn.preprocessing import LabelEncoder
lb =  LabelEncoder()

x['sex'] = lb.fit_transform(x['sex'])
x['smoker'] =  lb.fit_transform(x['smoker'])
x['day'] =  lb.fit_transform(x['day'])
x['time'] = lb.fit_transform(x['time'])

from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train_sc = sc.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_sc,columns = x_train.columns)
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.84   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -0.76   -0.61   -0.61
50%     -0.06    0.73   -0.79    0.31   -0.61   -0.61
75%      0.43    0.73    1.26    0.31    1.64    0.45
max      4.85    0.73    1.26    1.39    1.64    3.65

In [37]:
import  pandas  as  pd 
import  numpy as  np 

df  =  pd.read_csv('covid_toy - covid_toy.csv')
df.head(2)

df['fever']=df['fever'].fillna(df['fever'].mean())

df = df.drop(columns= ['age','fever']) # want only  categorical data
df

    gender   cough       city has_covid
0     Male    Mild    Kolkata        No
1     Male    Mild      Delhi       Yes
2     Male    Mild      Delhi        No
3   Female    Mild    Kolkata        No
4   Female    Mild     Mumbai        No
..     ...     ...        ...       ...
95  Female    Mild  Bangalore        No
96  Female  Strong    Kolkata       Yes
97  Female    Mild  Bangalore        No
98  Female  Strong     Mumbai        No
99  Female  Strong    Kolkata       Yes

[100 rows x 4 columns]

In [38]:

from sklearn.preprocessing import OrdinalEncoder 
oe = OrdinalEncoder(categories=[['Male','Female'],   #  sequencaly  work you  not break  sequence 
                               ['Mild','Strong'],
                               ['Kolkata','Bangalore','Delhi','Mumbai'],
                               ['Yes','No']])

In [41]:
df_arr = oe.fit_transform(df)
df_new =  pd.DataFrame(df_arr,columns=df.columns)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0
3     1.0    0.0   0.0        1.0
4     1.0    0.0   3.0        1.0

In [1]:
import sklearn
print(sklearn.__version__)
#  fianlly  ordinal  encoding  how  use  :
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

df  =  pd.read_csv('toyota - toyota.csv')
df.head()

1.7.1

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2  GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3  GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4  GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [2]:
df.isnull().sum()
df['fuelType'].value_counts()

fuelType
Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: count, dtype: int64

In [3]:
 # STEP 1️: Select categorical columns
cat_cols = ['model', 'transmission', 'fuelType']

# Remove numeric columns
df_cat = df[cat_cols]
df_num = df.drop(columns=cat_cols)

# STEP 2️: Ordinal Encoding (ONLY categorical data)
oe = OrdinalEncoder(categories=[
    ['Yaris','Aygo','Auris','C-HR','RAV4','Corolla','Prius','Avensis','Verso',
     'Hilux','GT86','Land Cruiser','PROACE VERSO','Supra','Camry','IQ',
     'Urban Cruiser','Verso-S'],
    ['Manual','Automatic','Semi-Auto','Other'],
    ['Petrol','Hybrid','Diesel','Other']
])

encoded_cat = oe.fit_transform(df_cat)

encoded_cat_df = pd.DataFrame(
    encoded_cat,
    columns=cat_cols,
    index=df.index
)

# STEP 3️: Merge encoded categorical + numeric data
final_df = pd.merge(
    encoded_cat_df,
    df_num,
    left_index=True,
    right_index=True
)

print(final_df.head(20))

    model  transmission  fuelType  year  price  mileage  tax   mpg  engineSize
0    10.0           0.0       0.0  2016  16000    24089  265  36.2         2.0
1    10.0           0.0       0.0  2017  15995    18615  145  36.2         2.0
2    10.0           0.0       0.0  2015  13998    27469  265  36.2         2.0
3    10.0           0.0       0.0  2017  18998    14736  150  36.2         2.0
4    10.0           0.0       0.0  2017  17498    36284  145  36.2         2.0
5    10.0           0.0       0.0  2017  15998    26919  260  36.2         2.0
6    10.0           0.0       0.0  2017  18522    10456  145  36.2         2.0
7    10.0           0.0       0.0  2017  18995    12340  145  36.2         2.0
8    10.0           0.0       0.0  2020  27998      516  150  33.2         2.0
9    10.0           0.0       0.0  2016  13990    37999  265  36.2         2.0
10   10.0           0.0       0.0  2013  10495    72000  265  36.2         2.0
11   10.0           0.0       0.0  2017  17990    12597  145  36.2         2.0
12   10.0           0.0       0.0  2017  16995    36100  145  36.2         2.0
13   10.0           0.0       0.0  2019  23995      995  145  33.2         2.0
14   10.0           0.0       0.0  2018  18498    35228  145  36.2         2.0
15   10.0           0.0       0.0  2019  23980     1751  145  33.2         2.0
16   10.0           0.0       0.0  2017  17995    16444  265  36.2         2.0
17   10.0           0.0       0.0  2014  12998    25499  260  36.2         2.0
18   10.0           1.0       0.0  2019  23495     3934  145  32.8         2.0
19   10.0           0.0       0.0  2019  25780     5123  145  33.2         2.0