In [ ]:
# first  revise  past:-

In [79]:
import numpy  as np 
import  pandas  as  pd 
df  =  pd.read_csv('covid_toy.csv')
df['fever'] =  df['fever'].fillna(df['fever'].mean())

In [80]:
df['has_covid'].value_counts()
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [81]:
cat_col = ['gender','cough','city','has_covid']
df_new = df.drop(columns=cat_col)

from sklearn.preprocessing import OrdinalEncoder 
oe  =  OrdinalEncoder(categories=[['Male','Female'],
                                  ['Mild','Strong'],
                                  ['Kolkata','Bangalore','Delhi','Mumbai'],
                                  ['No','Yes']])

variable1=  oe.fit_transform(df[cat_col])
new_var =  pd.DataFrame(variable1,columns=cat_col)
new_var

full_dataframe = df_new.merge(new_var,left_index = True,right_index=True)
full_dataframe

    age  fever  gender  cough  city  has_covid
0    60  103.0     0.0    0.0   0.0        0.0
1    27  100.0     0.0    0.0   2.0        1.0
2    42  101.0     0.0    0.0   2.0        0.0
3    31   98.0     1.0    0.0   0.0        0.0
4    65  101.0     1.0    0.0   3.0        0.0
..  ...    ...     ...    ...   ...        ...
95   12  104.0     1.0    0.0   1.0        0.0
96   51  101.0     1.0    1.0   0.0        1.0
97   20  101.0     1.0    0.0   1.0        0.0
98    5   98.0     1.0    1.0   3.0        0.0
99   10   98.0     1.0    1.0   0.0        1.0

[100 rows x 6 columns]

In [82]:
full_dataframe.head()
full_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   fever      100 non-null    float64
 2   gender     100 non-null    float64
 3   cough      100 non-null    float64
 4   city       100 non-null    float64
 5   has_covid  100 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB

In [83]:
full_dataframe

    age  fever  gender  cough  city  has_covid
0    60  103.0     0.0    0.0   0.0        0.0
1    27  100.0     0.0    0.0   2.0        1.0
2    42  101.0     0.0    0.0   2.0        0.0
3    31   98.0     1.0    0.0   0.0        0.0
4    65  101.0     1.0    0.0   3.0        0.0
..  ...    ...     ...    ...   ...        ...
95   12  104.0     1.0    0.0   1.0        0.0
96   51  101.0     1.0    1.0   0.0        1.0
97   20  101.0     1.0    0.0   1.0        0.0
98    5   98.0     1.0    1.0   3.0        0.0
99   10   98.0     1.0    1.0   0.0        1.0

[100 rows x 6 columns]

In [84]:
x=full_dataframe.drop(columns=['has_covid'])
y=full_dataframe['has_covid']

from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.2,random_state=42)

from sklearn.preprocessing  import StandardScaler
sc  =  StandardScaler()
train_x_sc =  sc.fit_transform(x_train)
new_train_x= pd.DataFrame(train_x_sc,columns=x_train.columns)
np.round(new_train_x.describe(),2)

         age  fever  gender  cough   city
count  80.00  80.00   80.00  80.00  80.00
mean   -0.00  -0.00   -0.00  -0.00   0.00
std     1.01   1.01    1.01   1.01   1.01
min    -1.56  -1.56   -1.19  -0.82  -1.19
25%    -0.94  -0.51   -1.19  -0.82  -1.19
50%    -0.04   0.01    0.84  -0.82  -0.25
75%     0.91   0.53    0.84   1.22   0.70
max     1.69   1.57    0.84   1.22   1.64

In [11]:
#onehotencoding:-
# column  hass_covid['y','n'] ------> newcolumn y_has_covid,n_has_covid   but  contains only  value  not columns  name
import numpy  as np 
import  pandas  as  pd 
df  =  pd.read_csv('covid_toy.csv')
df = df.dropna()

df.isnull().sum()

df = df.drop(columns=['age','fever'])
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

In [12]:
from sklearn.preprocessing import  OneHotEncoder
ohe = OneHotEncoder(drop ='first',sparse_output=False,dtype=np.int32)

In [6]:
# gender= 2   -1= 1
# cough =  2  -1=  1
#city =    4  -1=  3
#has_cocvid= 2  -1= 1

In [13]:
ohe.fit_transform(df[['gender','cough','city','has_covid']])

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [14]:
a= pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)
a=a.astype(int)
a

,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,1,0,0,1,0,0
1,1,0,1,0,0,1
2,1,0,1,0,0,0
3,0,0,0,1,0,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
95,0,0,0,0,0,0
96,0,1,0,1,0,1
97,0,0,0,0,0,0
98,0,1,0,0,1,0
99,0,1,0,1,0,1

In [23]:
# tasks :-  
# toyota dataset:- onehot ,get_dummies,label,ordinal
# tips dataset:-get_dummies----->targetcolumns ='totalbills' ,train_test_split---->MinMaxScaling
# churn_modeling dataset:-get_dummies----->targetcolumns ='churn' ,train_test_split---->Standaerd scaler

In [25]:
import pandas as  pd 
import numpy as  np  
df= pd.read_csv('toyota - toyota.csv')
df.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [27]:
#1 onehotencoder apply 
from  sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder(drop ='first',sparse_output=False,dtype=np.int32)

ohe.fit_transform(df[['model','transmission','fuelType']])
a=pd.get_dummies(df,columns=['model','transmission','fuelType'],drop_first=True)
a=a.astype(int)
a

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], shape=(6738, 23), dtype=int32)