In [ ]:
# first  revise  past:- ordinal encoder 

# rules  of ordinal :----

# 1️⃣ Arrange sub-categories from WORST → BEST (low → high priority)
# # 2️⃣ First element in list → 0 (lowest / worst)
# # 3️⃣ Last element in list → n-1 (highest / best)

In [79]:
import numpy  as np 
import  pandas  as  pd 
df  =  pd.read_csv('covid_toy.csv')
df['fever'] =  df['fever'].fillna(df['fever'].mean())

In [80]:
df['has_covid'].value_counts()
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [81]:
cat_col = ['gender','cough','city','has_covid']
df_new = df.drop(columns=cat_col)

from sklearn.preprocessing import OrdinalEncoder 
oe  =  OrdinalEncoder(categories=[['Male','Female'],
                                  ['Mild','Strong'],
                                  ['Kolkata','Bangalore','Delhi','Mumbai'],
                                  ['No','Yes']])

variable1=  oe.fit_transform(df[cat_col])
new_var =  pd.DataFrame(variable1,columns=cat_col)
new_var

full_dataframe = df_new.merge(new_var,left_index = True,right_index=True)
full_dataframe

    age  fever  gender  cough  city  has_covid
0    60  103.0     0.0    0.0   0.0        0.0
1    27  100.0     0.0    0.0   2.0        1.0
2    42  101.0     0.0    0.0   2.0        0.0
3    31   98.0     1.0    0.0   0.0        0.0
4    65  101.0     1.0    0.0   3.0        0.0
..  ...    ...     ...    ...   ...        ...
95   12  104.0     1.0    0.0   1.0        0.0
96   51  101.0     1.0    1.0   0.0        1.0
97   20  101.0     1.0    0.0   1.0        0.0
98    5   98.0     1.0    1.0   3.0        0.0
99   10   98.0     1.0    1.0   0.0        1.0

[100 rows x 6 columns]

In [82]:
full_dataframe.head()
full_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   fever      100 non-null    float64
 2   gender     100 non-null    float64
 3   cough      100 non-null    float64
 4   city       100 non-null    float64
 5   has_covid  100 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB

In [83]:
full_dataframe

    age  fever  gender  cough  city  has_covid
0    60  103.0     0.0    0.0   0.0        0.0
1    27  100.0     0.0    0.0   2.0        1.0
2    42  101.0     0.0    0.0   2.0        0.0
3    31   98.0     1.0    0.0   0.0        0.0
4    65  101.0     1.0    0.0   3.0        0.0
..  ...    ...     ...    ...   ...        ...
95   12  104.0     1.0    0.0   1.0        0.0
96   51  101.0     1.0    1.0   0.0        1.0
97   20  101.0     1.0    0.0   1.0        0.0
98    5   98.0     1.0    1.0   3.0        0.0
99   10   98.0     1.0    1.0   0.0        1.0

[100 rows x 6 columns]

In [84]:
x=full_dataframe.drop(columns=['has_covid'])
y=full_dataframe['has_covid']

from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.2,random_state=42)

from sklearn.preprocessing  import StandardScaler
sc  =  StandardScaler()
train_x_sc =  sc.fit_transform(x_train)
new_train_x= pd.DataFrame(train_x_sc,columns=x_train.columns)
np.round(new_train_x.describe(),2)

         age  fever  gender  cough   city
count  80.00  80.00   80.00  80.00  80.00
mean   -0.00  -0.00   -0.00  -0.00   0.00
std     1.01   1.01    1.01   1.01   1.01
min    -1.56  -1.56   -1.19  -0.82  -1.19
25%    -0.94  -0.51   -1.19  -0.82  -1.19
50%    -0.04   0.01    0.84  -0.82  -0.25
75%     0.91   0.53    0.84   1.22   0.70
max     1.69   1.57    0.84   1.22   1.64

In [11]:
#onehotencoding:-
# column  hass_covid['y','n'] ------> newcolumn y_has_covid,n_has_covid   but  contains only  value  not columns  name
import numpy  as np 
import  pandas  as  pd 
df  =  pd.read_csv('covid_toy.csv')
df = df.dropna()

df.isnull().sum()

df = df.drop(columns=['age','fever'])
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

In [12]:
from sklearn.preprocessing import  OneHotEncoder
ohe = OneHotEncoder(drop ='first',sparse_output=False,dtype=np.int32)

In [6]:
# gender= 2   -1= 1
# cough =  2  -1=  1
#city =    4  -1=  3
#has_cocvid= 2  -1= 1

In [13]:
ohe.fit_transform(df[['gender','cough','city','has_covid']])

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [14]:
# its  not  part  of  ohe  sir saw ,we  have  also  anoter approch which  is  visualization for  encoding  
a= pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)
a=a.astype(int)
a

,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,1,0,0,1,0,0
1,1,0,1,0,0,1
2,1,0,1,0,0,0
3,0,0,0,1,0,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
95,0,0,0,0,0,0
96,0,1,0,1,0,1
97,0,0,0,0,0,0
98,0,1,0,0,1,0
99,0,1,0,1,0,1

In [23]:
# tasks :-  
# toyota dataset:- onehot ,get_dummies,label,ordinal
# tips dataset:-get_dummies----->targetcolumns ='totalbills' ,train_test_split---->MinMaxScaling
# churn_modeling dataset:-get_dummies----->targetcolumns ='churn' ,train_test_split---->Standaerd scaler

In [80]:
import pandas as  pd 
import numpy as  np  
df= pd.read_csv('toyota - toyota.csv')
df.head(2)
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [40]:
#1 onehotencoder apply 
from  sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder(drop ='first',sparse_output=False,dtype=np.int32)  # drop  first :-  remove first  sub catgore column of  all input  columns and  dtype change  data type   spares output use for  0  value

ohe.fit_transform(df[['model','transmission','fuelType']]) # this  have  so  many  sub  categoreis  thats  why its  look slidely(thodsa) differnt

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]], shape=(6738, 23), dtype=int32)

In [14]:
# 2 proecess  of  encodeing pd
a=pd.get_dummies(df,columns=['model','transmission','fuelType'],drop_first=True)
a=a.astype(int)   # type  change from  bolean  to  int  
a

,year,price,mileage,tax,mpg,engineSize,model_Avensis,model_Aygo,model_C-HR,model_Camry,...,model_Urban Cruiser,model_Verso,model_Verso-S,model_Yaris,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2016,16000,24089,265,36,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2017,15995,18615,145,36,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2015,13998,27469,265,36,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2017,18998,14736,150,36,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,2017,17498,36284,145,36,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733,2011,5500,30000,20,58,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6734,2011,4985,36154,125,50,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
6735,2012,4995,46000,125,57,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
6736,2011,3995,60700,125,50,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
6737,2011,4495,45128,125,50,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [51]:
#  3  proecess label encoding 
import  numpy as  np  
import  pandas as pd 

df =  pd.read_csv('toyota - toyota.csv')
x =  df.drop(columns=['price'])
y= df['price']
df
from sklearn.preprocessing import LabelEncoder
le =  LabelEncoder()
x['model'] =  le.fit_transform(x['model'])
x['transmission']= le.fit_transform(x['transmission'])
x['fuelType'] = le.fit_transform(x['fuelType'])
x

      model  year  transmission  mileage  fuelType  tax   mpg  engineSize
0         6  2016             1    24089         3  265  36.2         2.0
1         6  2017             1    18615         3  145  36.2         2.0
2         6  2015             1    27469         3  265  36.2         2.0
3         6  2017             1    14736         3  150  36.2         2.0
4         6  2017             1    36284         3  145  36.2         2.0
...     ...   ...           ...      ...       ...  ...   ...         ...
6733      8  2011             0    30000         3   20  58.9         1.0
6734     14  2011             1    36154         3  125  50.4         1.3
6735     14  2012             1    46000         0  125  57.6         1.4
6736     14  2011             1    60700         3  125  50.4         1.3
6737     14  2011             1    45128         3  125  50.4         1.3

[6738 rows x 8 columns]

In [79]:
# ordinal encodr 
import numpy as  np  
import  pandas as  pd 
df  =  pd.read_csv('toyota - toyota.csv')

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [60]:
df['fuelType'].value_counts()

fuelType
Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: count, dtype: int64

In [76]:
cat_col=['model','transmission','fuelType']
numeric_data = df.drop(columns=cat_col)

from  sklearn.preprocessing import OrdinalEncoder   # not  work  with  fully  data fram  in  which  numeric and categorical data present  so we  devided  into 2  parts  categorical +numerical 
                                                   # then  encode  on  categorical columns  and at the end  add  categoriacal_encoded columns with numeric columns and  now we have full  encoded df 
oe =  OrdinalEncoder(categories=[['Verso-S','Urban Cruiser','IQ','Camry','Supra','PROACE VERSO','Land Cruiser','GT86','Hilux','Verso','Avensis','Prius','Corolla','RAV4','C-HR','Auris','Aygo','Yaris']
                                  ,['Other','Manual','Automatic','Semi-Auto'],
                                 ['Other','Diesel','Hybrid','Petrol']]) # we  arrange  as  priority  already  discuses on  uper strting  
s=oe.fit_transform(df[cat_col])
variable13 = pd.DataFrame(s,columns=cat_col)
variable13

full_encoded_df= numeric_data.merge(variable13,left_index=True,right_index=True)
full_encoded_df

,year,price,mileage,tax,mpg,engineSize,model,transmission,fuelType
0,2016,16000,24089,265,36.2,2.0,7.0,1.0,3.0
1,2017,15995,18615,145,36.2,2.0,7.0,1.0,3.0
2,2015,13998,27469,265,36.2,2.0,7.0,1.0,3.0
3,2017,18998,14736,150,36.2,2.0,7.0,1.0,3.0
4,2017,17498,36284,145,36.2,2.0,7.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...
6733,2011,5500,30000,20,58.9,1.0,2.0,2.0,3.0
6734,2011,4985,36154,125,50.4,1.3,1.0,1.0,3.0
6735,2012,4995,46000,125,57.6,1.4,1.0,1.0,1.0
6736,2011,3995,60700,125,50.4,1.3,1.0,1.0,3.0
6737,2011,4495,45128,125,50.4,1.3,1.0,1.0,3.0

In [100]:
import  numpy  as  np  
import  pandas  as  pd 

cat=['sex','smoker','day','time']

df  = pd.read_csv('tips - tips.csv')
df.isnull().sum()
e = pd.get_dummies(df,columns=cat)
e=e.astype(int)
e

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16,1,2,1,0,1,0,0,0,1,0,1,0
1,10,1,3,0,1,1,0,0,0,1,0,1,0
2,21,3,3,0,1,1,0,0,0,1,0,1,0
3,23,3,2,0,1,1,0,0,0,1,0,1,0
4,24,3,4,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29,5,3,0,1,1,0,0,1,0,0,1,0
240,27,2,2,1,0,0,1,0,1,0,0,1,0
241,22,2,2,0,1,0,1,0,1,0,0,1,0
242,17,1,2,0,1,1,0,0,1,0,0,1,0
243,18,3,2,1,0,1,0,0,0,0,1,1,0

In [114]:
x= e.drop(columns=['total_bill'])
y=e['total_bill']

from  sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test   =  train_test_split(x,y,test_size=0.2,random_state=42)
from  sklearn.preprocessing  import  MinMaxScaler  
ms =  MinMaxScaler()

x_train_ms = ms.fit_transform(x_train)
x_train_new  =  pd.DataFrame(x_train_ms,columns=x_train.columns)
x_train_new

np.round(x_train_new.describe(),2)

,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
count,195.00,195.00,195.00,195.00,195.00,195.00,195.00,195.00,195.00,195.00,195.00,195.00
mean,0.20,0.31,0.35,0.65,0.62,0.38,0.09,0.36,0.31,0.24,0.73,0.27
std,0.16,0.19,0.48,0.48,0.49,0.49,0.28,0.48,0.46,0.43,0.45,0.45
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.11,0.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,0.22,0.20,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
75%,0.22,0.40,1.00,1.00,1.00,1.00,0.00,1.00,1.00,0.00,1.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [152]:
# task  2  :-
import  numpy  as  np  
import  pandas as  pd 

df =  pd.read_csv('Churn_Modelling - Churn_Modelling.csv') 
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [153]:
df =  df.drop(columns=['RowNumber','CustomerId','Surname'])
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [162]:
new_df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)
new_df_int =  new_df.astype(int)

x= new_df_int.drop(columns=['EstimatedSalary'])
y= new_df_int['EstimatedSalary']

from  sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test =   train_test_split(x,y,test_size=0.2,random_state=42)

from  sklearn.preprocessing  import StandardScaler 
sc=  StandardScaler()
x_train_sc  =  sc.fit_transform(x_train)
x_train_new =  pd.DataFrame(x_train_sc,columns= x_train.columns)

np.round(x_train_new.describe(),2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_Germany,Geography_Spain,Gender_Male
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-3.13,-1.99,-1.74,-1.22,-0.92,-1.54,-1.03,-0.51,-0.58,-0.58,-1.09
25%,-0.69,-0.66,-0.70,-1.22,-0.92,-1.54,-1.03,-0.51,-0.58,-0.58,-1.09
50%,0.01,-0.18,-0.00,0.33,-0.92,0.65,0.97,-0.51,-0.58,-0.58,0.91
75%,0.70,0.49,0.69,0.82,0.81,0.65,0.97,-0.51,1.73,-0.58,0.91
max,2.06,5.05,1.73,2.80,4.26,0.65,0.97,1.97,1.73,1.73,0.91