In [39]:
import  numpy  as  np 
import  pandas  as  pd 

from sklearn.impute import SimpleImputer 

from  sklearn.preprocessing  import OneHotEncoder
from sklearn.preprocessing  import  OrdinalEncoder

In [40]:
df =  pd.read_csv('covid_toy - covid_toy.csv')

In [41]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [42]:
from  sklearn.model_selection import   train_test_split 
x_train,x_test,y_train,y_test  =  train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)
x_train

    age  gender  fever   cough       city
34   74    Male  102.0    Mild     Mumbai
6    14    Male  101.0  Strong  Bangalore
72   83  Female  101.0    Mild    Kolkata
9    64  Female  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
80   14  Female   99.0    Mild     Mumbai
68   54  Female  104.0  Strong    Kolkata
48   66    Male   99.0  Strong  Bangalore
7    20  Female    NaN  Strong     Mumbai
38   49  Female  101.0    Mild      Delhi

[80 rows x 5 columns]

In [43]:
# adding  simple  imputer  to fever column
si  =  SimpleImputer(strategy = "mean") # (strategy = "most_frequent ") use  for  categorical  data  
# simpleimputer  work  missing  values  fill  only  
x_train_fever =  si.fit_transform(x_train[['fever']])
# also  the  test data  
x_test_fever =  si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [44]:
#  ordinalencoding ----->>>cough 
oe =  OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough =  oe.fit_transform(x_train[['cough']])
# also  the test  data 
x_test_cough =  oe.fit_transform(x_test[['cough']])
x_train.shape

(80, 5)

In [45]:
#  onehotEncoding ---->>>>> gender ,city  

ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

# also  the  test  data 
x_test_gender_city =  ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [46]:
# extracting age  
x_train_age =  x_train.drop(columns=['gender','fever','cough','city']).values
# also  the  test  data  
x_test_age =   x_test.drop(columns=['gender','fever','cough','city']).values

In [48]:
x_train_age.shape

(80, 1)

In [32]:
x_train_transformed =  np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
x_train_transformed.shape

(80, 7)

In [11]:
# columns  transformer  : - 
# formula:- (constant,approach name ,approach  where you apply or columns ka name )
# template bana detay  hay  jis  say  hamra  kam  structure  tare kay  say  ho jaa taa hay(column transformer may )
# set  of  process ek  structured  formate may  pday hay  in column transformer  

from  sklearn.compose import  ColumnTransformer # this  is  how to  import  ColumnTransformer
transformer =  ColumnTransformer(transformers = [
    ('tnf1',SimpleImputer(),['fever'] ),# in a fever column  by the  
# help of si  we v
# fill missing values  by  mean ,median,mode 
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']), # by  this  process we encode  our  data 
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city']),
     ],remainder =  'passthrough')# remainder =  'passthrough'  =>  its  means  rest all  the columns remain same

In [12]:
transformer.fit_transform(x_train).shape   # pass  data frame  in column transformer

(80, 7)

In [13]:
transformer.transform(x_test).shape

(20, 7)

In [15]:
#  for generalknowleade  we  can  do  also  2  approch  name  in  columntansferomer 

ct = ColumnTransformer(transformers=[
    ('ord_size', OrdinalEncoder(), ['size']),
    ('ord_color', OrdinalEncoder(), ['color'])
],,remainder =  'passthrough')

SyntaxError: invalid syntax (440477877.py, line 6)

In [ ]:
# tips dataset --->data devide  ,traget column =  total bill , and show  without and  aslo  with column transformer 
# note :-- end  result   with and without  column tranformer are same like (90,2) and (90,2)

In [50]:
import  numpy  as np 
import  pandas as pd  

from  sklearn.preprocessing import OneHotEncoder
from  sklearn.preprocessing  import  OrdinalEncoder 

from sklearn.impute import  SimpleImputer

In [51]:
df  =  pd.read_csv('tips - tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [52]:
from sklearn.model_selection import  train_test_split 
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['total_bill']),df['total_bill'],test_size=0.2)
x_train

      tip     sex smoker   day    time  size
85   5.17  Female     No  Thur   Lunch     4
131  2.83  Female     No  Thur   Lunch     2
129  2.18    Male     No  Thur   Lunch     3
96   4.00    Male    Yes   Fri  Dinner     2
84   2.03    Male     No  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
7    3.12    Male     No   Sun  Dinner     4
99   1.50    Male     No   Fri  Dinner     2
79   2.71    Male     No  Thur   Lunch     2
118  1.80  Female     No  Thur   Lunch     2
18   3.50  Female     No   Sun  Dinner     3

[195 rows x 6 columns]

In [53]:
# simple imputer no need becase  no missing value 
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [59]:
x_train

      tip     sex smoker   day    time  size
85   5.17  Female     No  Thur   Lunch     4
131  2.83  Female     No  Thur   Lunch     2
129  2.18    Male     No  Thur   Lunch     3
96   4.00    Male    Yes   Fri  Dinner     2
84   2.03    Male     No  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
7    3.12    Male     No   Sun  Dinner     4
99   1.50    Male     No   Fri  Dinner     2
79   2.71    Male     No  Thur   Lunch     2
118  1.80  Female     No  Thur   Lunch     2
18   3.50  Female     No   Sun  Dinner     3

[195 rows x 6 columns]

In [77]:
# onehotencoder  
ohe =  OneHotEncoder(drop='first',sparse_output  =  False)
x_train_ohe = ohe.fit_transform(x_train[['smoker','sex']])
x_test_ohe  = ohe.fit_transform(x_test[['smoker','sex']])
x_train_ohe.shape

(195, 2)

In [58]:
# ordinal encoder 
x_train['time'].value_counts()
oe = OrdinalEncoder(categories = [['Sat','Sun','Thur','Fri']
                                  ,['Dinner','Lunch']])
x_train_oe =  oe.fit_transform(x_train[['day','time']])
x_test_oe =  oe.fit_transform(x_test[['day','time']])
x_train_oe.shape

(195, 2)

In [67]:
# extracting a  
x_train_tip_size =  x_train.drop(columns=['smoker','sex','day','time']).values
x_test_tip_size =  x_test.drop(columns=['smoker','sex','day','time']).values
x_train_tip_size.shape

(195, 2)

In [78]:
x_train_transformed  = np.concatenate((x_train_ohe,x_train_oe,x_train_tip_size),axis=1)
x_train_transformed.shape

(195, 6)

In [85]:
x_test_transformed  = np.concatenate((x_test_ohe,x_test_oe,x_test_tip_size),axis=1)
x_test_transformed.shape

(49, 6)

In [81]:
# columns transformer  
from  sklearn.compose import  ColumnTransformer 
transformer_c = ColumnTransformer([
 ('tnf1',OneHotEncoder(drop='first',sparse_output=False),['smoker','sex']),
 ('tnf2',OrdinalEncoder(categories=[['Sat','Sun','Thur','Fri'],['Dinner','Lunch']]),['day','time'])  # subcategories follow by  columns name
],remainder='passthrough')

In [82]:
transformer_c.fit_transform(x_train).shape

(195, 6)

In [84]:
transformer_c.transform(x_test).shape

(49, 6)